-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: bride_and_joy
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `boys`
--

DROP TABLE IF EXISTS `boys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boys` (
  `boys_id` int NOT NULL AUTO_INCREMENT,
  `prod_id` int DEFAULT NULL,
  PRIMARY KEY (`boys_id`),
  KEY `prod_id` (`prod_id`),
  CONSTRAINT `boys_ibfk_1` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boys`
--

LOCK TABLES `boys` WRITE;
/*!40000 ALTER TABLE `boys` DISABLE KEYS */;
INSERT INTO `boys` VALUES (2100,20),(2101,21),(2102,22),(2103,23),(2104,24),(2105,25);
/*!40000 ALTER TABLE `boys` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart`
--

DROP TABLE IF EXISTS `cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart` (
  `cart_id` int NOT NULL AUTO_INCREMENT,
  `coll_id` int DEFAULT NULL,
  PRIMARY KEY (`cart_id`),
  KEY `coll_id` (`coll_id`),
  CONSTRAINT `cart_ibfk_1` FOREIGN KEY (`coll_id`) REFERENCES `collection` (`coll_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3000 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart`
--

LOCK TABLES `cart` WRITE;
/*!40000 ALTER TABLE `cart` DISABLE KEYS */;
/*!40000 ALTER TABLE `cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `collection`
--

DROP TABLE IF EXISTS `collection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collection` (
  `coll_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int DEFAULT NULL,
  `prod_id` int DEFAULT NULL,
  PRIMARY KEY (`coll_id`),
  KEY `customer_id` (`customer_id`),
  KEY `FOREIGN_KEY_PROD_ID` (`prod_id`),
  CONSTRAINT `collection_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`),
  CONSTRAINT `FOREIGN_KEY_PROD_ID` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1000 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collection`
--

LOCK TABLES `collection` WRITE;
/*!40000 ALTER TABLE `collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courier`
--

DROP TABLE IF EXISTS `courier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courier` (
  `courier_id` int NOT NULL AUTO_INCREMENT,
  `jurist_id` int DEFAULT NULL,
  PRIMARY KEY (`courier_id`),
  KEY `jurist_id` (`jurist_id`),
  CONSTRAINT `courier_ibfk_1` FOREIGN KEY (`jurist_id`) REFERENCES `juristic` (`jurist_id`)
) ENGINE=InnoDB AUTO_INCREMENT=234 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courier`
--

LOCK TABLES `courier` WRITE;
/*!40000 ALTER TABLE `courier` DISABLE KEYS */;
INSERT INTO `courier` VALUES (231,47321),(232,47323),(233,47326);
/*!40000 ALTER TABLE `courier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `customer_id` int NOT NULL AUTO_INCREMENT,
  `stakeholder_id` int DEFAULT NULL,
  `name` varchar(68) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `surname` varchar(68) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `password` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `card_no` varchar(16) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `exp_date` varchar(4) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`customer_id`),
  KEY `stakeholder_id` (`stakeholder_id`),
  CONSTRAINT `customer_ibfk_1` FOREIGN KEY (`stakeholder_id`) REFERENCES `stakeholders` (`stakeholder_id`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
INSERT INTO `customer` VALUES (101,14574,'John','Doe','Password123!','4480123412341000','0929'),(102,14578,'Suzanne','Mashaba','Secret45###',NULL,NULL);
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `girls`
--

DROP TABLE IF EXISTS `girls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `girls` (
  `girls_id` int NOT NULL AUTO_INCREMENT,
  `prod_id` int DEFAULT NULL,
  PRIMARY KEY (`girls_id`),
  KEY `prod_id` (`prod_id`),
  CONSTRAINT `girls_ibfk_1` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3307 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `girls`
--

LOCK TABLES `girls` WRITE;
/*!40000 ALTER TABLE `girls` DISABLE KEYS */;
INSERT INTO `girls` VALUES (3300,5),(3301,9),(3302,16),(3303,18),(3304,27),(3305,38),(3306,48);
/*!40000 ALTER TABLE `girls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `juristic`
--

DROP TABLE IF EXISTS `juristic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `juristic` (
  `jurist_id` int NOT NULL AUTO_INCREMENT,
  `stakeholder_id` int DEFAULT NULL,
  `trading_name` varchar(128) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `freight_rate` decimal(10,0) DEFAULT NULL,
  `account_no` varchar(16) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `branch_code` varchar(6) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`jurist_id`),
  KEY `stakeholder_id` (`stakeholder_id`),
  CONSTRAINT `juristic_ibfk_1` FOREIGN KEY (`stakeholder_id`) REFERENCES `stakeholders` (`stakeholder_id`)
) ENGINE=InnoDB AUTO_INCREMENT=47328 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `juristic`
--

LOCK TABLES `juristic` WRITE;
/*!40000 ALTER TABLE `juristic` DISABLE KEYS */;
INSERT INTO `juristic` VALUES (47321,14575,'RAM Couriers',73,'62000001452','250655'),(47322,14576,'Marriage Designs',90,'401475684','632005'),(47323,14577,'BEX Express',59,'1023567342','198765'),(47324,14579,'Big Day Bridals',90,'120145698','051001'),(47325,14580,'Lace Affairs',150,'58476982104','250655'),(47326,14581,'Aramex Couriers',65,'102417500','051001'),(47327,14582,'Silk Suits Pty (Ltd)',113,'476812404','632005');
/*!40000 ALTER TABLE `juristic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mens`
--

DROP TABLE IF EXISTS `mens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mens` (
  `mens_id` int NOT NULL AUTO_INCREMENT,
  `prod_id` int DEFAULT NULL,
  PRIMARY KEY (`mens_id`),
  KEY `prod_id` (`prod_id`),
  CONSTRAINT `mens_ibfk_1` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1237 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mens`
--

LOCK TABLES `mens` WRITE;
/*!40000 ALTER TABLE `mens` DISABLE KEYS */;
INSERT INTO `mens` VALUES (1220,6),(1221,8),(1222,10),(1223,11),(1224,13),(1225,15),(1226,31),(1227,33),(1228,35),(1229,36),(1230,37),(1231,42),(1232,43),(1233,44),(1234,45),(1235,46),(1236,49);
/*!40000 ALTER TABLE `mens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_`
--

DROP TABLE IF EXISTS `order_`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `waybill` int DEFAULT NULL,
  `order_desc` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `customer_id` int DEFAULT NULL,
  `order_total` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`order_id`),
  KEY `waybill` (`waybill`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `order__ibfk_1` FOREIGN KEY (`waybill`) REFERENCES `workitem` (`waybill`),
  CONSTRAINT `order__ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_`
--

LOCK TABLES `order_` WRITE;
/*!40000 ALTER TABLE `order_` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `prod_id` int NOT NULL AUTO_INCREMENT,
  `price` decimal(10,2) DEFAULT NULL,
  `prod_name` varchar(128) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `prod_desc` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `prod_img` varchar(128) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `supplier_id` int DEFAULT NULL,
  PRIMARY KEY (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restocking`
--

DROP TABLE IF EXISTS `restocking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `restocking` (
  `restock_id` int NOT NULL AUTO_INCREMENT,
  `waybill` int DEFAULT NULL,
  PRIMARY KEY (`restock_id`),
  KEY `waybill` (`waybill`),
  CONSTRAINT `restocking_ibfk_1` FOREIGN KEY (`waybill`) REFERENCES `workitem` (`waybill`)
) ENGINE=InnoDB AUTO_INCREMENT=34500 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restocking`
--

LOCK TABLES `restocking` WRITE;
/*!40000 ALTER TABLE `restocking` DISABLE KEYS */;
/*!40000 ALTER TABLE `restocking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `return_`
--

DROP TABLE IF EXISTS `return_`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `return_` (
  `return_id` int NOT NULL AUTO_INCREMENT,
  `waybill` int DEFAULT NULL,
  `order_id` int DEFAULT NULL,
  `return_desc` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `return_value` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`return_id`),
  KEY `waybill` (`waybill`),
  KEY `order_id` (`order_id`),
  CONSTRAINT `return__ibfk_1` FOREIGN KEY (`waybill`) REFERENCES `workitem` (`waybill`),
  CONSTRAINT `return__ibfk_2` FOREIGN KEY (`order_id`) REFERENCES `order_` (`order_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `return_`
--

LOCK TABLES `return_` WRITE;
/*!40000 ALTER TABLE `return_` DISABLE KEYS */;
/*!40000 ALTER TABLE `return_` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales`
--

DROP TABLE IF EXISTS `sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales` (
  `sale_id` int NOT NULL AUTO_INCREMENT,
  `prod_id` int DEFAULT NULL,
  PRIMARY KEY (`sale_id`),
  KEY `fk_sales_product` (`prod_id`),
  CONSTRAINT `fk_sales_product` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales`
--

LOCK TABLES `sales` WRITE;
/*!40000 ALTER TABLE `sales` DISABLE KEYS */;
INSERT INTO `sales` VALUES (2,3),(4,4),(1,12),(5,28),(3,39),(6,40),(7,41),(8,47);
/*!40000 ALTER TABLE `sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stakeholders`
--

DROP TABLE IF EXISTS `stakeholders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stakeholders` (
  `stakeholder_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(128) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `address` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `contact_number` varchar(10) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`stakeholder_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14583 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stakeholders`
--

LOCK TABLES `stakeholders` WRITE;
/*!40000 ALTER TABLE `stakeholders` DISABLE KEYS */;
/*!40000 ALTER TABLE `stakeholders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock`
--

DROP TABLE IF EXISTS `stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock` (
  `stock_id` int NOT NULL AUTO_INCREMENT,
  `prod_id` int NOT NULL,
  `size` varchar(5) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`stock_id`),
  KEY `FOREIGN_KEY` (`prod_id`),
  CONSTRAINT `FOREIGN_KEY` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=546 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock`
--

LOCK TABLES `stock` WRITE;
/*!40000 ALTER TABLE `stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supplier` (
  `supplier_id` int NOT NULL AUTO_INCREMENT,
  `jurist_id` int DEFAULT NULL,
  PRIMARY KEY (`supplier_id`),
  KEY `jurist_id` (`jurist_id`),
  CONSTRAINT `supplier_ibfk_1` FOREIGN KEY (`jurist_id`) REFERENCES `juristic` (`jurist_id`)
) ENGINE=InnoDB AUTO_INCREMENT=326 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
INSERT INTO `supplier` VALUES (322,47322),(323,47324),(324,47325),(325,47327);
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traditional`
--

DROP TABLE IF EXISTS `traditional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `traditional` (
  `trad_id` int NOT NULL AUTO_INCREMENT,
  `prod_id` int DEFAULT NULL,
  PRIMARY KEY (`trad_id`),
  KEY `fk_traditional_product` (`prod_id`),
  CONSTRAINT `fk_traditional_product` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traditional`
--

LOCK TABLES `traditional` WRITE;
/*!40000 ALTER TABLE `traditional` DISABLE KEYS */;
INSERT INTO `traditional` VALUES (1,1),(2,5),(3,27),(4,38),(5,43),(6,44),(7,45),(8,46),(9,47),(10,48);
/*!40000 ALTER TABLE `traditional` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wishlist`
--

DROP TABLE IF EXISTS `wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wishlist` (
  `wish_id` int NOT NULL AUTO_INCREMENT,
  `coll_id` int DEFAULT NULL,
  PRIMARY KEY (`wish_id`),
  KEY `coll_id` (`coll_id`),
  CONSTRAINT `wishlist_ibfk_1` FOREIGN KEY (`coll_id`) REFERENCES `collection` (`coll_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2000 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wishlist`
--

LOCK TABLES `wishlist` WRITE;
/*!40000 ALTER TABLE `wishlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `wishlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `womens`
--

DROP TABLE IF EXISTS `womens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `womens` (
  `womens_id` int NOT NULL AUTO_INCREMENT,
  `prod_id` int DEFAULT NULL,
  PRIMARY KEY (`womens_id`),
  KEY `prod_id` (`prod_id`),
  CONSTRAINT `womens_ibfk_1` FOREIGN KEY (`prod_id`) REFERENCES `product` (`prod_id`)
) ENGINE=InnoDB AUTO_INCREMENT=149 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `womens`
--

LOCK TABLES `womens` WRITE;
/*!40000 ALTER TABLE `womens` DISABLE KEYS */;
INSERT INTO `womens` VALUES (130,1),(131,2),(132,3),(133,4),(134,7),(135,12),(136,14),(137,17),(138,19),(139,26),(140,28),(141,29),(142,30),(143,32),(144,34),(145,39),(146,40),(147,41),(148,47);
/*!40000 ALTER TABLE `womens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workitem`
--

DROP TABLE IF EXISTS `workitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workitem` (
  `waybill` int NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `courier_id` int DEFAULT NULL,
  PRIMARY KEY (`waybill`),
  KEY `fk_workitem_courier` (`courier_id`),
  CONSTRAINT `fk_workitem_courier` FOREIGN KEY (`courier_id`) REFERENCES `courier` (`courier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2024563100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workitem`
--

LOCK TABLES `workitem` WRITE;
/*!40000 ALTER TABLE `workitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `workitem` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-04-13 13:27:47
