/* 
--- 01 TYPOGRAPHY

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS

Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- LINE HEIGHTS

Defaults: 1
Small: 1.05
Medium: 1.2
Paragraph Default: 1.6
Large: 1.8

--- 02 COLORS

- PRIMARY: 

https://maketintsandshades.com/

- TINTS: 
- SHADES: 
- GREYS: 
--- 03 ICONS

--- 04 IMAGES

- FACES: UI Faces
- OTHERS: Unsplash

--- 05 SHADOWS

 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Inria Serif", serif;
  line-height: 1;
  font-weight: 700;
  color: #383B3E;
  font-size: 1.6rem;
  background-color: #f6f4f0;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 3.2rem;
  background-color: #f6f4f0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.logo-box {
  
}

.logo-box a:link,
.logo-box a:visited {
  font-size: 3.6rem;
  text-decoration: none;
}

.logo-box a:hover,
.logo-box a:active {
  font-size: 3.6rem;
  text-decoration: none;
}

.logo-a,
.logo-b,
.logo-c {
  color: #383B3E
}

.search-box {
  display: flex;
  align-items: center;
}

.searchbar {
  width: 24.6rem;
  font-family: inherit;
  border: none;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: #92727A;
  color: #f6f4f0;
}

.searchbar::placeholder {
  color: #f6f4f0;
}

.btn-search {
  padding: 0.5rem;

  border: none;
  background-color: #92727A;
}

.icon-search {
  stroke:#f6f4f0;
  height: 1.7rem;
  width: 1.7em;
  padding: 0;
}

.category-links-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
}

.main-header--bottom-row{
  margin: auto auto;
}

.category-links-list li a:link,
.category-links-list li a:visited {
  text-decoration: none;
  color: #383B3E;
}

.category-links-list li a:hover,
.category-links-list li a:active {
  text-decoration: none;
  color: #383B3E;
}

.utility-links-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  text-decoration: dashed;
}

.utility-links-list li a:link,
.utility-links-list li a:visited {
  text-decoration: none;
  color: #383B3E;
}

.utility-links-list li a:hover,
.utility-links-list li a:active {
  text-decoration: none;
  color: #383B3E;
}

