body {
  font-family: "Inria Serif", serif;
  line-height: 1;
  font-weight: 700;
  color: #383B3E;
  font-size: 1.6rem;
  background-color: #f6f4f0;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 3.2rem;
  background-color: #f6f4f0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  padding: 1.6rem 3rem 1.6rem 3rem;
}

.burger-box {
  display: none;
}

.logo-box {
  padding: 0 0.4rem
}

.logo-box a:link,
.logo-box a:visited {
  font-size: 3.2rem;
  text-decoration: none;
}

.logo-box a:hover,
.logo-box a:active {
  font-size: 3.6rem;
  text-decoration: none;
}

.logo-a,
.logo-b,
.logo-c {
  color: #383B3E;
  margin: 0;
  padding: 0;
  letter-spacing: -0.4rem;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
}

.searchbar {
  width: 25.6rem;
  font-family: inherit;
  border: none;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: #92727A;
  color: #f6f4f0;
}

.searchbar::placeholder {
  color: #f6f4f0;
}

.btn-search {
  padding: 0.5rem;

  border: none;
  background-color: #92727A;
}

.icon-search {
  stroke:#f6f4f0;
  height: 1.7rem;
  width: 1.7em;
  padding: 0;
}

.indicators-list {
  display: flex;
  gap: 0.8rem;
}

.indicators-list li {
  list-style: none;
}

.indicators-list li a:link,
.indicators-list li a:visited {
  text-decoration: none;
}

.indicators-list li a:hover,
.indicators-list li a:active {
  text-decoration: none;
}

.indicators-list li a {
  display: flex;
  align-items: end;
}

.indicators-list li svg {
  stroke: #92727A;
  width: 3.6rem;
}

.indicators-list li span {
  display: flex;
  text-decoration: double;
  font-size: 1.2rem;
  color: #f6f4f0;
  background-color: red;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
}

.category-links-list {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  justify-content: center;
}

.main-header--bottom-row{
  margin: auto auto;
}

.category-links-list li a:link,
.category-links-list li a:visited {
  text-decoration: none;
  color: #383B3E;
}

.category-links-list li a:hover,
.category-links-list li a:active {
  text-decoration: none;
  color: #383B3E;
}

.utility-links-list {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  text-decoration: dashed;
}

.utility-links-list li a:link,
.utility-links-list li a:visited {
  text-decoration: none;
  color: #383B3E;
}

.utility-links-list li a:hover,
.utility-links-list li a:active {
  text-decoration: none;
  color: #383B3E;
}

.sub-menu {
  
  display: none;
}

.sub-menu.visible {
  display: block;
  width: 100%;
}

.sub-menu li {
  padding: 0.4rem;
  border-bottom: 0.1rem solid #383B3E;
  transition: 0.4s;
}

.sub-menu-links-list li a:link,
.sub-menu-links-list li a:visited {
  text-decoration: none;
  color: #383B3E;
}

.sub-menu-links-list li a:hover,
.sub-menu-links-list li a:active {
  text-decoration: none;
  color: #383B3E;
}

