img {
  background-color: black;
}

.container{
  /* 1140px other convention */
  /* padding: 3rem; */
  border: 0.1rem solid black;
}

main {
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  /* z-index: -1; */
  margin-top: 8rem;
}

.section-categories {
  margin-bottom: 12rem;
}

.categories {
  display: flex;
  gap: 1.2rem;
}

.categories img {
  transition: all 0.4s;
}

.categories img:hover,
.categories img:active {
  transform: scale(1.5);
  overflow: hidden;
}

.figure-categories {
  position: relative;
  /* border: 0.1rem solid black; */
  overflow: hidden;
  padding: 2rem;
}

.figure-categories::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}

.figure-categories img {
  width: 100%;
  display: block;
  transform: scale(1.2);
  transition: all 0.4s;
}

.figure-categories figcaption {
  position: absolute;
  bottom: 2rem;
  text-decoration: none;
  text-align: center;
  color: #f6f4f0;
  font-size: 3rem;
  z-index: 2;
}

.section-traditional {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12rem;
}

.banner-traditional {
  align-items: center;
  border: 0.4rem solid black;
  font-weight: 700;
  margin-bottom: 3rem;
  background-image: url("../images/proudly\ large.webp");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  font-size: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 3.2rem 1.2rem 3.2rem 1.2rem;
}

.mini-catalog-traditional a:link,
.mini-catalog-traditional a:visited {
  text-decoration: none;
  color: #383B3E;
}

/* .mini-catalog-traditional a {
  display: block;
} */

.shopping-card {
  position: relative;
}

.shopping-card-photoframe {
  overflow: hidden;
  width: 16.8rem;
  height: 25.6rem;
  position: relative;
}

.shopping-card img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: all 2s;
}

.shopping-card img:hover {
  height: 150%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* transform: scale(1.2); */
}

.shopping-card-details {
  width: 16.8rem;
  font-size: 1.4rem;
  padding: 0.4rem 0;
}


.shopping-card-price  {
  width: 16.8rem;
  font-size: 1.8rem;
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-card button {
  border: none;
  background-color: #f6f4f0;
}

.shopping-card button:hover {
  cursor: pointer;
}

.shopping-card svg {
  width: 2.4rem;
  stroke: #92727a;
  stroke-width: 0.2rem;
}

.shop-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-shop-more:link,
.btn-shop-more:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #7d836e;
  color: #f6f4f0 !important;
  /* border: 0.1rem solid black; */
  padding: 0.8rem 1.6rem;
}

.btn-shop-more:hover,
.btn-shop-more:active {
  background-color: #646958;
}

.section-sales {
  margin-bottom: 12rem;
}

.section-sales a:link,
.section-sales a:visited {
  text-decoration: none;
  color: inherit;
}

.mid-end {
    grid-column: 5 /-1;
}

.on-sale::after {
  content: "SALE!";
  font-size: 1.6rem;
  background-color: #ece55f;
  color: red;
  padding: 0.2rem 1.6rem;
  position: absolute;
  top: -2%;
  left: -2%;
}

.figure-sales {
  overflow: hidden;
  position: relative;
}

.figure-sales::after {
  content: "See What's On Sale!";
  text-transform: uppercase;
  font-size: 3rem;
  background-color: #ece55f;
  color: red;
  padding: 1.6rem 12.8rem;
  position: absolute;
  top: 17%;
  left: -29%;
  transform: rotate(-45deg);
}

.figure-sales a:link,
.figure-sales a:visited {
  text-decoration: none;
}


.figure-sales a:hover {
  transform: scale(1.2);
  transition: all 2s;
}

.figure-sales img {
  transform: scaleX(-1);
  width: 100%;
}

.section-empire {
  margin-bottom: 12rem;
}

.start-mid {
  grid-column: 1 / 4;
}

.figure-empire {
  overflow: hidden;
  position: relative;
  
}

.figure-empire img {
  width: 100%;
  height: 150%;
  overflow: hidden;
  transform: scale(1.4);
}

.figure-empire img:hover {
  transform: scale(1.6);
  transition: all 2s;
}

/* .figure-empire::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
} */

.figure-empire figcaption {
  color: #f6f4f0;
  font-size: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 2.4rem;
  margin: 2rem;
}

.section-empire a:link,
.section-empire a:visited {
  text-decoration: none;
  color: inherit;
}

.section-euro-suits {
  margin-bottom: 12rem;
}

.section-euro-suits a:link,
.section-euro-suits a:visited {
  text-decoration: none;
  color: inherit;
}

.figure-euro-suits {
  position: relative;
  overflow: hidden;
}



.figure-euro-suits a:hover {
  transform: scale(1.2);
  transition: all 2s;
}

.figure-euro-suits img {
  transform: scaleX(-1);
  width: 100%;
}

.figure-euro-suits figcaption {
  position: absolute;
  color: #f6f4f0;
  font-size: 4.4rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 8rem;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 2rem;
}







